@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

div{
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.34);
    Width: 375px;
    Height: 568px;
    border-radius: 39px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 20px;
}

input{
    font-size: 48px;
    border: none;
    background: none;
    color: #232323;
    grid-row: 1 / 3;
    grid-column: 1 / 5;
    text-align: right;
    display: grid;
    align-items: end;
    margin-bottom: 20px;
    backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    padding: 20px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    outline: none;
}

input::placeholder{
    color: #232323;
}

button{
    font-size: 28px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.01);
    outline: none;
    border-radius: 16px;
    margin: 10px;
    backdrop-filter: blur(5.5px);
    color: #232323;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

.operacao{
    background-color: #d72880;
    color: #fff;
}

.zero{
    grid-column: 1 / 3;
}

.igual{
    grid-row: 6 / 8;
    grid-column: 4 / 5;
}